Package: lista-marcin77-13e-19e-010712
Version: 2x1_010712
Description: Lista 2x1 E2 AZBoxHD by Marcin77
Section: base
Priority: optional
Maintainer: Marcin77
Architecture: mipsel
OE: lista_marcin77-13e-19e
Depends: enigma2
Homepage: http://www.mojazbox.pl
Source: http://www.mojazbox.pl
